.BBox {}

.displaynone {
    display: none;
}


.TopBox {
    background-image: url(../../assets/img/Backdrop\ Art.png);
    width: 100%;
    height: 333px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    direction: ltr;
}


.TopBox h1 {
    width: 19%;
    direction: rtl;
    color: #3B0359;
    font-size: 264%;
}

.SearchBox {
    width: 20%;
    height: 51%;
    border-radius: 11px;
    background-color: #EDFAFD40;
    box-shadow: 0 0 2px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}




.Chosdastebandi {
    width: 73%;
    height: 21%;
    font-size: 94%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff00;
    border: 2px solid #27023B;
    border-radius: 10px;
}

.leftIcon {
    padding-top: 1%;
    padding-right: 18%;
}

.rightIcon {
    padding-left: 6%;
}

.SearchDastebandi {
    width: 60%;
    display: flex;
    direction: ltr;
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: flex-end;
    align-items: center;
}

.SearchOpenBox1 {
    position: absolute;
    top: 33%;
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding: 2.5%;
    width: 64%;
    height: 68%;
    gap: 5%;
    background-color: #fde2ff80;
    border-radius: 6px;
}

.SearchOpenBox2 {
    position: absolute;
    top: 59%;
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding: 2.5%;
    width: 64%;
    height: 68%;
    gap: 5%;
    background-color: #fde2ff80;
    border-radius: 6px;
}




.SearchOpenBox3 {
    position: absolute;
    top: 90%;
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding: 2.5%;
    width: 64%;
    height: 68%;
    gap: 5%;
    background-color: #fde2ff80;
    border-radius: 6px;
}




.inputf {
    background-color: #FFFFFF;
    border: none;
    height: 25%;
    border-radius: 6px;
    padding: 4%;
}

.searchIcon {
    position: absolute;
    top: 11%;
    left: 10%;
}

.searchdown {
    position: absolute;
    top: 80%;
    left: -10%;
    font-size: 66px;
    color: #3B0359;
}



.inputf::placeholder {}


                                                     /* down part start */
.DownBox {
    margin-bottom: 100px;
}




.DownBBox {
    width: 1140px;
    margin: auto;
    margin-top: 133px;
}

.uptitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}



.ShowPart {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 301px;
    font-size: 16px;
    font-weight: 600px;
    color: #27023B;


}

.pishnahadT {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    height: 27px;

}

.textP {
    display: flex;
    gap: 7px;
    background-color: #F7EBFE;
    border-radius: 8px;
    padding: 3px;
}

.pishnahadat {
    cursor: pointer;
    padding: 4px 8px 4px 8px;

}

.pishnahadat2 {
    cursor: pointer;
    padding: 4px 8px 4px 8px;
    border-left: 2px solid #8806CE;

}

.pishnahadat3 {
    background-color: #8806CE;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
}



.mahsolatS {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.TopPartOfDownB {
    display: flex;
    position: relative;
    gap: 2px;
    padding: 12px;
    width: 249px;
    box-sizing: border-box;
    height: 346px;
    flex-direction: column;
}
.downPartt{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.TopPartOfDownB:hover{
  padding: 10px;
    border: 2px solid #E1ADFC;
    border-radius: 16px;
}

.TopPartOfDownB:hover .LikeBox {
    display: flex;
    transition: 5s;


}

.TopPartOfDownB h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
}

.TopPartOfDownB p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}

.LikeBox {

    box-sizing: border-box;
    position: absolute;
    top: 23px;
    display: none;
    gap: 8px;
    left: 23px;
    font-size: 26px;
    background-color: #ffff;
    border-radius: 8px;
    color: #8806CE;
    flex-direction: column;
    padding: 2px 3px 5px;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.LikeBox i {
    font-size: 23px;
    cursor: pointer;
    
}

.LinkSBox {
    display: flex;
    justify-content: space-between;
    color: #8806CE;
}

.LinkSBox a {
    display: flex;
    align-items: center;
    gap: 2px;
}