@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Markazi Text";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inputPlaceColorized::placeholder {
  color: blueviolet;
  font-size: 20px;
  font-weight: bold;
  vertical-align: top;
  text-align: start;
}

.customGlass {
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 50px 0px rgba(237, 250, 253, 0.25) inset,
    1px 4px 15px 0px rgba(0, 0, 0, 0.12);
}

.inputPlaceColorized {
  vertical-align: top;
  text-align: start;
  font-size: 20px;
  direction: rtl;
}

.myBackdrop {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
