@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Markazi Text";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inputPlaceColorized::placeholder {
  color: blueviolet;
  font-size: 20px;
  font-weight: bold;
  vertical-align: top;
  text-align: start;
}

.inputPlaceColorized {
  vertical-align: top;
  text-align: start;
  font-size: 20px;
  direction: rtl;
}
